body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: white;
  background-color: black;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  max-width: 1000px;
  margin: auto;
  flex-direction: column;
}
html {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: white;
  background-color: black;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.category_structure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto 2em;
  background-color: white;
  color: black;
  border: 2px;
  border-color: white;
}

p {
  padding: 0.25em;
}

.page_heading {
  color: white;
  font-size: 50px;
}
