// foreground variations
$foreground:    #daf6ff;    
$foreground_1:  #b5d5df;    
$foreground_2:  #8dbcca;    
$foreground_3:  #699faf;    
$foreground_4:  #4f7e8c;    
$foreground_5:  #325049;    

// background  variations
$background:    #121c2d;
$background_1:  #1c2e4a;
$background_2:  #2c466e;
$background_3:  #46689c;
$background_4:  #6690d0;
$background_5:  #78adff;

// term colors
$color0:      #121c2d;  
$color1:      #eb4949;  
$color2:      #8ceba9;  
$color3:      #f2b15c;  
$color4:      #f29cb1;  
$color5:      #c8a5f1;  
$color6:      #7bb7c9;  
$color7:      #b5d5df;  
$color8:      #1c2e4a;  
$color9:      #ff5a5a;  
$color10:     #9dffd2;  
$color11:     #ffe861;  
$color12:     #ffaed5;  
$color13:     #f9b5ff;  
$color14:     #8af9ff;  
$color15:     #daf6ff;  


// red
$red:            #ff5a5a;
$red_bright:     #eb4949;
$red_dull:       #9c3636;
// green
$green:          #9dffd2;
$green_bright:   #8ceba9;
$green_dull:     #60b77a;
// orange
$orange:         #f2b15c;
$orange_bright:  #ffe861;
$orange_dull:    #ce8b33;
// pink
$pink:           #f29cb1;
$pink_bright:    #a73953;
$pink_dull:      #ffaed5;
// purple
$purple:         #f9b5ff;
$purple_bright:  #c8a5f1;
$purple_dull:    #7a53a8;
// blue
$blue:           #8af9ff;
$blue_bright:    #388ba4;
$blue_dull:      #7bb7c9;

$border_color: $background_3
