// site header CSS

header {
  display: flex;
  background: $background_1;
  border-bottom: 2px solid $foreground;
}

.header_wrapper {
  display: flex;
  max-width: $large;
  float: left;
  width: 100%;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}


.site-title > a {
  font-size: $h4-font-size;
  color: $foreground;
  text-decoration: none;
}

.site-link_list > a {
  color: $pink;
  text-decoration: none;
}

.header_wrapper > nav {
  margin-left: auto;
}
.header_wrapper > nav > li {
  padding: 0 0.2em;
  display: inline-block;
}
