.sidebar {
  margin: 0;
  padding: 0.5em;
  background-color: grey;
  color: black;
  top: 0;
  overflow-y: auto;
  z-index: 10;
}
@media screen and (min-width: #{$medium}) {
  .sidebar {
    overflow-y: auto;
    position: sticky;
    top: 0;
    float: left;
    width: 13vw;
    background-color: grey;
    color: black;
    height: 100vh;
    margin-right: 1vw;
  }
}

.author_name {
  margin: 0;
  padding: 0;
}
.author_bio {
  margin: 0;
  padding: 0;
  p {
    margin: 0;
    padding: 0;
  }
}
.author_avatar {
  display: flex;
  justify-content: center;
  img {
    width: 100px;
    border: 2px solid;
    border-radius: 50%;
    border-color: black;
    padding: 2px;
    display: block;
  }
}

// for small screeens
ul,.social_icons--active {
  display: block;
  margin: 0.1em 0;
  padding: 0.5em;
  position: absolute;
  background: white;
  z-index: 10;
  list-style: none;
}
ul,.social_icons--inactive {
  display: none;
}

// if large screen don't show button
@media screen and (min-width: #{$medium}) {
  .follow_button {
    display: none;
  }
  ul,.social_icons--active {
    display: list-item;
    list-style: none;
    margin: 8px;
    padding: 1em 0;
    background: none;
  }
  ul,.social_icons--inactive {
    display: none;
  }
}
