.responsive-video-container {
	margin: auto;
	width: $phone / 2.1;
	height: $phone / 2.3;
	iframe {
		width: $phone / 2.1;
		height: $phone / 2.3;
	}
}
@media (min-width: 600px) {
	.responsive-video-container {
		margin: auto;
		width: $content-width / 3;
		height: $content-width / 4;
		iframe {
			width: $content-width / 3;
			height: $content-width / 4;
		}
	}
}
