/* ==========================================================================
   my skin
   ========================================================================== */
@import 'minimal-mistakes/colors';
/* Colors */
$background-color: $color0;
$text-color: $color7;
$primary-color: $color4;
$border-color: $color15;
$code-background-color: mix($text-color, $background-color, 15%);
$code-background-color-dark: mix($text-color, $background-color, 80%);
$form-background-color: mix($text-color, $background-color, 15%);
$footer-background-color: mix($primary-color, $background-color, 10%);
$link-color: $color4;
$link-color-hover: mix(#fff, $link-color, 25%);
$link-color-visited: mix(#000, $link-color, 25%);
$masthead-link-color: $text-color;
$masthead-link-color-hover: mix(#000, $text-color, 20%);
$navicon-link-color-hover: mix(#000, $background-color, 30%);

/* neon syntax highlighting (base16) */
$base00: $color0;
$base01: $color1;
$base02: $color2;
$base03: $color3;
$base04: $color4;
$base05: $color5;
$base06: $color6;
$base07: $color7;
$base08: $color15;
$base09: $color9;
$base0a: $color10;
$base0b: $color11;
$base0c: $color12;
$base0d: $color13;
$base0e: $color14;
$base0f: $color15;
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

/* next/previous buttons */
.pagination--pager {
  color: $text-color;
  background-color: $primary-color;

  &:visited {
    color: $text-color;
  }
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
