---
layout: archive
---
<head>
  <style>
  .Category {
     border: 1px #daf6ff;
     border-style: solid;
     border-radius: 3px;
     background-color: #0f1826;
     padding: 10px;
  }
  </style>
</head>

{{ content }}

{% unless page.art == true %}
  {% assign categories_max = 0 %}
  {% for category in site.categories %}
    {{ category.name }}
    {% if category[1].size > categories_max %}
      {% assign categories_max = category[1].size %}
    {% endif %}
  {% endfor %}

  <ul class="taxonomy__index">
    {% for i in (1..categories_max) reversed %}
      {% for category in site.categories %}
        {% if category[1].size == i %}
          <li>
            <a href="#{{ category[0] | slugify }}">
              <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
  {{ category[0] }}

  {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
      {% if category[1].size == i %}
        <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
          <h2 class="archive__subtitle">{{ category[0] }}</h2>
            <div class="entries-{{ page.entries_layout | default: 'list' }}">
            {% for post in category.last %}
              {% include archive-single.html type=page.entries_layout %}
              <br>
            {% endfor %}
            </div>
          <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
        </section>
      {% endif %}
    {% endfor %}
  {% endfor %}

{% else %}

  {% capture art_cat %}
    {% for post in site.portfolio %}
      {{post.categories}}
      {% if forloop.last == false %}::{% endif %}
    {% endfor %}
  {% endcapture %}
  {% assign art_cat_array = art_cat | split: '::' %}
  {% assign temp = art_cat_array.size %}
  {% if temp == 1 %}
    {% assign categories_max = art_cat_array.size %}
  {% else %}
    {% assign categories_max = art_cat_array.size | minus: 1 %}
  {% endif %}


    <ul class="taxonomy__index">
      {% for i in (1..categories_max) %}
        {% assign art_cat_uniq = art_cat_array | uniq %}
        {% for category in art_cat_uniq %}
          {% unless i > categories_max %}
            <li>
              <a href="#{{ category | slugify }}">
                <strong>{{ category }}</strong></a>
            </li>
          {% endunless %}
        {% endfor %}
      {% endfor %}
    </ul>


    {% for i in (1..categories_max) %}
      {% assign art_cat_uniq = art_cat_array | uniq %}
      {% for category in art_cat_uniq %}
        {% unless i > categories_max %}
          <section id="{{ category | slugify | downcase }}" class="taxonomy__section">
            <h2 class="archive__subtitle">{{ category }}</h2>
              <div class="entries-{{ page.entries_layout | default: 'grid' }}">
                {% for post in site.portfolio %}
                  {% if post.categories contains "photography" and category contains "photography" %}
                    {% include archive-single.html type=page.entries_layout %}
                    <br>
                  {% elsif post.categories contains "woodworking" and category contains "woodworking" %}
                    {% include archive-single.html type=page.entries_layout %}
                    <br>
                  {% endif %}
                {% endfor %}
              </div>
            <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
          </section>
        {% endunless %}
      {% endfor %}
    {% endfor %}

{% endunless %}
