---
layout: default
header: /assets/images/generic-header.jpg
---

{% comment %} # teaser: /assets/images/generic-header.jpg {% endcomment %}
<div id="main" class="main">
  {%- include sidebar.html -%}
  <!-- print the page title -->
  <!-- now why does it look like this? -->
  <div class="content">
    <h1 class="page_heading">{{ site.title }}</h1>

    <!-- post whatever content is in index file -->
    {{ content }}

    <div class="latest_post">
      <h2 class="post-list-heading">Latest Post</h2>
      {% for post in site.posts %}

        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <h6>{{ post.excerpt }}</h6>
          <!-- I broke early to mimick doing post[0] -->
          <!-- simple but works -->
        {% break %}

      {% endfor %}
    </div>

    <div class="category_structure">
      {% for post in site.categories %}
        <div class="category_{{ post[0] }}">
          {% assign main_cat = post[0] %}
          <div class="latest_post"> <h3>Latest Post in <em>{{ main_cat }}</em></h3></div>
          <!-- get a post with the right category -->
          {% for nest_post in site.posts reversed %}
            <!-- for each category in a post -->
            {% for nest_cat in nest_post.categories %}
              <!-- if that category matches our main one -->
              <!-- print that post -->
              <!-- and only that post -->
              {% if nest_cat == main_cat %}
                {% assign title = nest_post.title %}
                {% assign excerpt = nest_post.excerpt %}
                {%- assign url = nest_post.url -%}
                {% comment %} <!-- {{ nest_post.excerpt }} --> {% endcomment %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          <!-- we needed to print the collected post right before the next category -->
          <div class="category_title"> <a href="{{ url | relative_url }}">{{ title }}</a></div>
          <div class="category_excerpt"> {{ excerpt }}</div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>
