---
layout: archive
---

<head>
<style>
.archive__shift {
	position: relative;
}
</style>
</head>

{{ content }}
<h3 class="archive__subtitle">{{"Recent Blog Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
  {% assign art_posts = site.portfolio %}
{% else %}
  {% assign posts = site.posts %}
  {% assign art_posts = site.portfolio %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
<h3 class="archive__subtitle" style="margin-top:4em;">{{"Recent Art Posts" }}</h3>
{% for post in art_posts %}
  {% include archive-single.html %}
{% endfor %}


