---
layout: default
sidebar: true
author_profile: true
---
<div class="main" id="main">
  {%- include sidebar.html -%}
  <div class="page_inner">
    {% for post in site.posts %}
    <div class="Posts">
      <time>{{ post.date | date: "%b %-d, %Y" }}</time>
      <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
      <div class="box">
        <img src="{{post.teaser}}" alt="Header">
        {{post.excerpt }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
