/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: inline-table;
  margin-left: auto;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $color5;
  border-bottom: 2px solid mix(#000, $color5, 25%);
  border-radius: 4px;
  color: $background-color;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0.5em;
  border: 2px solid mix(#000, $border-color, 25%);
  background-color: mix($color5, $background-color, 40%);
}

tr,
td,
th {
  vertical-align: middle;
}
